    Pandas, Python programlama dili için yüksek performanslı, kullanımı kolay veri yapıları ve veri analizi araçları sağlayan, açık kaynaklı, BSD lisanslı bir kütüphanedir.
    Proje ana sayfası: https://pandas.pydata.org/

In [4]:
import pandas as pd

# Pandas ile Veri Okuma

In [5]:
df = pd.read_csv("D:/Datasets/Advertising.csv")

In [6]:
df.head()

   ID     TV  Radio  Newspaper  Sales
0   1  230.1   37.8       69.2   22.1
1   2   44.5   39.3       45.1   10.4
2   3   17.2   45.9       69.3    9.3
3   4  151.5   41.3       58.5   18.5
4   5  180.8   10.8       58.4   12.9

# Pandas Dataframe Şekli, Boyutu

In [7]:
df.shape

(200, 5)

In [8]:
df.tail()

      ID     TV  Radio  Newspaper  Sales
195  196   38.2    3.7       13.8    7.6
196  197   94.2    4.9        8.1    9.7
197  198  177.0    9.3        6.4   12.8
198  199  283.6   42.0       66.2   25.5
199  200  232.1    8.6        8.7   13.4

# Dataframe hakkında daha detaylı bilgi

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
ID           200 non-null int64
TV           200 non-null float64
Radio        200 non-null float64
Newspaper    200 non-null float64
Sales        200 non-null float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

In [10]:
df.describe()

               ID          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

# Sütunları Seçmek

In [16]:
df['TV'].head()

0    230.1
1     44.5
2     17.2
3    151.5
4    180.8
Name: TV, dtype: float64

In [15]:
df.Radio.head()

0    37.8
1    39.3
2    45.9
3    41.3
4    10.8
Name: Radio, dtype: float64

#  Birden fazla sütunu seçmek (liste içinde seçmeyi unutmayın!!!)

In [17]:
df[['TV','Radio']].head()

      TV  Radio
0  230.1   37.8
1   44.5   39.3
2   17.2   45.9
3  151.5   41.3
4  180.8   10.8

# Mevcut Bir Sutünun Değerlerini Değiştirmek

In [18]:
df['Radio'] = df.Radio * 1000

In [19]:
df.head()

   ID     TV    Radio  Newspaper  Sales
0   1  230.1  37800.0       69.2   22.1
1   2   44.5  39300.0       45.1   10.4
2   3   17.2  45900.0       69.3    9.3
3   4  151.5  41300.0       58.5   18.5
4   5  180.8  10800.0       58.4   12.9

In [ ]:
df['ANNUALINCOME'] = df.ANNUALINCOME / 1000

In [ ]:
df.head()

# Yeni Sütun Eklemek

In [ ]:
df['ANNUALINCOMETL'] = df.ANNUALINCOME * 6.0

In [ ]:
df.head()

In [ ]:
df.shape

# Kategorik Değişken Üreterek Yeni Sütun Yaratmak

In [ ]:
# Yıllık 40K'dan küçükse low, 40K-100K arası middle, 100K üzeri high olsun

op_labels = ['low', 'middle', 'high']
category = [0,40000,100000,150000]
df['INCOMECAT'] = pd.cut(df['ANNUALINCOME'], labels=op_labels, 
                         bins=category, include_lowest=False)

In [ ]:
df[df.ANNUALINCOME > 100000].head()

# Sütunları Birleştirmek

In [ ]:
df['ANN-INCOMECAT'] = df['ANNUALINCOME'] + ' - ' + df['INCOMECAT']

In [ ]:
# int ile string birleşmez.
df['ANN-INCOMECAT'] = df['ANNUALINCOME'].astype(str) + ' - ' + df['INCOMECAT'].astype(str)

In [ ]:
df.head()

# Her satır için benzersiz bir id oluşturmak

In [ ]:
# Kaç satır var?
len(df)

In [ ]:
df['ID'] = range(0,200)
df.head()

# Sütunları Yeniden Adlandırmak

In [ ]:
sutun_degisimi = {'ID':'ROWID'}
df.rename(columns=sutun_degisimi, inplace=True)
# inplace=True demek bu değişimi bellekte gerçekleştir.
# inplace=True işleminin geri dönüşü yoktur. Veriyi baştan okumak gerekir.

In [ ]:
df.head()

# Sütunların Sırasını Değiştirmek

In [ ]:
# ROWID'yi en başa almak istiyorum

In [ ]:
df.columns

In [ ]:
df = df[['ROWID','CUSTOMERID', 'GENDER', 'AGE', 'ANNUALINCOME', 'SPENDINGSCORE',
       'ANNUALINCOMETL', 'INCOMECAT', 'ANN-INCOMECAT']]

In [ ]:
df.head()

# Ödev-10

In [ ]:
# simple_data.csv verisini kullanarak;

# 1. Sütun İsimlerini BÜYÜK HARFLİ yapınız
# 2. Yeni bir sütun içinde meslek,sehir sütunlarını aralarında çizgi 
#    olacak şekilde birleştiriniz.
# 3. aylik_gelir'i dolar cinsinden hesaplayarak aylik_gelir_dolar ismiyle 
#    yeni bir sütun ekleyiniz.
# 4. 3801'den başlayacak şekilde 3802, 3803... artarak her bir satıra 
#    id numarası veriniz (yeni bir sütun içinde)
# 5. aylik_geliri baz alarak 0-2500 arasını düşük, 2500-7500 arasını orta ve 
#    7500 üstünü yüksek olacak şekilde 
#    kategorilendirip gelir_kategori ismiyle yeni bir sütun olarak ekleyiniz.