In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("D:/Datasets/Advertising.csv")

In [4]:
df.head()

   ID     TV  Radio  Newspaper  Sales
0   1  230.1   37.8       69.2   22.1
1   2   44.5   39.3       45.1   10.4
2   3   17.2   45.9       69.3    9.3
3   4  151.5   41.3       58.5   18.5
4   5  180.8   10.8       58.4   12.9

In [5]:
# y değerim Sales
# X değerim TV+Radio+Newspaper

In [6]:
df['Advertising_Budget'] = df['TV'] + df['Newspaper'] + df['Radio']
df.head()

   ID     TV  Radio  Newspaper  Sales  Advertising_Budget
0   1  230.1   37.8       69.2   22.1               337.1
1   2   44.5   39.3       45.1   10.4               128.9
2   3   17.2   45.9       69.3    9.3               132.4
3   4  151.5   41.3       58.5   18.5               251.3
4   5  180.8   10.8       58.4   12.9               250.0

In [7]:
X = df['Advertising_Budget'].values.reshape(-1,1)
X.shape

(200, 1)

In [8]:
y = df['Sales'].values
y.shape

(200,)

# Using Cros-Validation

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
r2_scores = cross_val_score(LinearRegression(), X, y, cv=5, scoring='r2')

In [10]:
r2_scores

array([0.74964192, 0.79455226, 0.76417134, 0.74872042, 0.65980565])

In [11]:
r2_scores.mean()

0.743378317855542